body {
    background-color: AliceBlue;
    color: DarkBlue;
    font-family: Arial, sans-serif;
}
img{
    align-items: center;
}
  
a:link, a:visited{
    color: Crimson;
    text-decoration: none;
}
  
a:hover, a:active {
    color: Crimson;
    text-decoration: underline;
}
  
h2{
    color: Crimson;
}
  
p{
    margin: 0;
}

  
table {
    width: 400px;
    margin: 0 auto;
    border: 0;
}
  

  
table img {
    width: 230px;
    height: 153px;
    border: 1px solid #000;
    float: right;
}
